body {
    font-family: 'Metro Time Sign';
    margin: 0;
    padding: 0;  
}
.conteudo {
    position:relative;
    width: 100%;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items:center;

}

.arrow-blink {
    font-size: 40px;
    color: #04dd33; 
    position: absolute;
    top: 352px;
    left: 33%;
    transform: translate(-50%, -50%);
    animation: blink 1s infinite;
  }
  
  @keyframes blink {
    0%, 49%{
            visibility: hidden;
          }
          50%, 100% {
            visibility: visible;
          }
  }
  
  
.mover:hover {
    background-color: #0056b3;
}
input[type="text"] {
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style-type: armenian;
    padding: 0;
}

li {
    padding: 0px;
    background-color: #949494;
    margin-bottom: 10px;
    border-radius: 100px;
    text-size-adjust: 10px;
}

li:hover {
    background-color: #808080;
}
 .bg-image {
background-color: black;
background-size: cover;
background-position: center;
height: 100vh;
flex-direction: flex;
justify-content: center;
color: #00da12;


}
.botoes-container {
    display: flex;
    justify-content: space-between; 
}

.botao {
    padding: 15px 40px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}
.botão:last-child{
    background-color: #0056b3;
}

.botao:hover {
    background-color: #0056b3;
}
.brilhar-pequeno {
    font-size: 20px;
    color: #84fa8a;
    text-shadow: 0 0 0px #5eff59, 0 0 6px #5eff59, 0 0 8px #5eff59, 0 0 20px #45a049, 0 0 35px #45a049, 0 0 40px #45a049, 0 0 50px #45a049, 0 0 75px #45a049;
    animation: brilhar-pequeno 2s linear infinite;
}
.brilhar-medio {
    font-size: 30px;
    color: #84fa8a;
    text-shadow: 0 0 0px #5eff59, 0 0 6px #5eff59, 0 0 8px #5eff59, 0 0 20px #45a049, 0 0 35px #45a049, 0 0 40px #45a049, 0 0 50px #45a049, 0 0 75px #45a049;
    animation: brilhar-medio 2s linear infinite;
}
.brilhar-grande {
    font-size: 40px;
    color: #84fa8a;
    text-shadow: 0 0 0px #5eff59, 0 0 6px #5eff59, 0 0 8px #5eff59, 0 0 20px #45a049, 0 0 35px #45a049, 0 0 40px #45a049, 0 0 50px #45a049, 0 0 75px #45a049;
    animation: brilhar-grande 2s linear infinite;
}
@keyframes brilhar-pequeno {
    0% {
        text-shadow: 0 0 1px #5eff59, 0 0 5px #5eff59, 0 0 7px #5eff59, 0 0 20px #45a049, 0 0 35px #45a049, 0 0 40px #45a049, 0 0 50px #45a049, 0 0 75px #45a049;
    }
    100% {
        text-shadow: 0 0 2px #5eff59, 0 0 4px #5eff59, 0 0 6px #5eff59, #45a049, 0 0 50px #45a049, 0 0 60px #45a049, 0 0 70px #45a049, 0 0 80px #45a049;
    }
}
@keyframes brilhar-medio {
    0% {
        text-shadow: 0 0 1px #5eff59, 0 0 5px #5eff59, 0 0 7px #5eff59, 0 0 20px #45a049, 0 0 35px #45a049, 0 0 40px #45a049, 0 0 50px #45a049, 0 0 75px #45a049;
    }
    100% {
        text-shadow: 0 0 2px #5eff59, 0 0 4px #5eff59, 0 0 6px #5eff59, #45a049, 0 0 50px #45a049, 0 0 60px #45a049, 0 0 70px #45a049, 0 0 80px #45a049;
    }
}
@keyframes brilhar-grande {
    0% {
        text-shadow: 0 0 1px #5eff59, 0 0 5px #5eff59, 0 0 7px #5eff59, 0 0 20px #45a049, 0 0 35px #45a049, 0 0 40px #45a049, 0 0 50px #45a049, 0 0 75px #45a049;
    }
    100% {
        text-shadow: 0 0 2px #5eff59, 0 0 4px #5eff59, 0 0 6px #5eff59, #45a049, 0 0 50px #45a049, 0 0 60px #45a049, 0 0 70px #45a049, 0 0 80px #45a049;
    }
}
#Art {
    display: flex;
    justify-content:left;
    align-items: flex-end;
    height: 60vh; 
    background-color: black;
}
id{
    margin-right: 20px;
    padding: 16px;
}
